name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t cher1shrxd/singleton-server:latest \
            --push .

      - name: Run DB migrations
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd singleton-server

            git pull origin main

            pnpm i

            docker run --rm \
              -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
              -v $(pwd)/drizzle:/app/drizzle \
              -v $(pwd)/drizzle.config.ts:/app/drizzle.config.ts \
              cher1shrxd/singleton-server:latest \
              pnpm drizzle-kit migrate

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker compose pull
            docker compose down
            docker compose up -d
